In [4]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv("/content/covid19_statistics")

print("Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nFirst 5 rows:")
print(df.head())
print("\nMissing Values:")
print(df.isnull().sum())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Shape: (237, 12)

Column Names:
['Unnamed: 0', 'continent', 'country', 'cases.active', 'cases.critical', 'cases.recovered', 'cases.total', 'deaths.total', 'population(k)', 'test.total (k)', 'date', 'time_hms']

Data Types:
Unnamed: 0           int64
continent           object
country             object
cases.active       float64
cases.critical     float64
cases.recovered    float64
cases.total          int64
deaths.total       float64
population(k)      float64
test.total (k)     float64
date                object
time_hms            object
dtype: object

First 5 rows:
   Unnamed: 0      continent           country  cases.active  cases.critical  \
0           0           Asia             China      118977.0             NaN
1           1         Africa      Saint-Helena        2164.0             NaN
2           2  South-America  Falkland-Islands           0.0             NaN
3           3  North-America        Montserrat          19.0             NaN
4           4            NaN  Diamond-Princess           0.0             NaN

   cases.recovered  cases.total  deaths.total  population(k)  test.total (k)  \
0         379053.0       503302        5272.0    1448471.400      160000.000
1              2.0         2166           NaN          6.115             NaN
2           1930.0         1930           NaN          3.539           8.632
3           1376.0         1403           8.0          4.965          17.762
4            699.0          712          13.0            NaN             NaN

         date  time_hms
0  2026-01-22  05:00:13
1  2026-01-22  05:00:12
2  2026-01-22  05:00:12
3  2026-01-22  05:00:12
4  2026-01-22  05:00:12

Missing Values:
Unnamed: 0           0
continent            1
country              0
cases.active        47
cases.critical     178
cases.recovered     48
cases.total          0
deaths.total         5
population(k)        8
test.total (k)      24
date                 0
time_hms             0
dtype: int64