In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.decomposition import PCA

In [11]:
path = "/content/covid19_statistics"
df = pd.read_csv(path)
df.head()

,Unnamed: 0,continent,country,cases.active,cases.critical,cases.recovered,cases.total,deaths.total,population(k),test.total (k),date,time_hms
0,0,Asia,China,118977.0,NaN,379053.0,503302,5272.0,1448471.400,160000.000,2026-01-22,05:00:13
1,1,Africa,Saint-Helena,2164.0,NaN,2.0,2166,NaN,6.115,NaN,2026-01-22,05:00:12
2,2,South-America,Falkland-Islands,0.0,NaN,1930.0,1930,NaN,3.539,8.632,2026-01-22,05:00:12
3,3,North-America,Montserrat,19.0,NaN,1376.0,1403,8.0,4.965,17.762,2026-01-22,05:00:12
4,4,NaN,Diamond-Princess,0.0,NaN,699.0,712,13.0,NaN,NaN,2026-01-22,05:00:12

In [12]:
df.info()
df.isna().sum()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       237 non-null    int64
 1   continent        236 non-null    object
 2   country          237 non-null    object
 3   cases.active     190 non-null    float64
 4   cases.critical   59 non-null     float64
 5   cases.recovered  189 non-null    float64
 6   cases.total      237 non-null    int64
 7   deaths.total     232 non-null    float64
 8   population(k)    229 non-null    float64
 9   test.total (k)   213 non-null    float64
 10  date             237 non-null    object
 11  time_hms         237 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 22.3+ KB

,Unnamed: 0,cases.active,cases.critical,cases.recovered,cases.total,deaths.total,population(k),test.total (k)
count,237.000000,1.900000e+02,59.000000,1.890000e+02,2.370000e+02,2.320000e+02,2.290000e+02,2.130000e+02
mean,118.000000,2.650658e+05,1228.220339,1.011538e+07,8.920932e+06,9.065528e+04,3.469404e+04,3.298829e+04
std,68.560193,1.928390e+06,5046.844152,5.569789e+07,5.203699e+07,5.174256e+05,1.386374e+05,1.198779e+05
min,0.000000,0.000000e+00,1.000000,2.000000e+00,1.000000e+01,1.000000e+00,7.990000e-01,7.850000e+00
25%,59.000000,4.725000e+01,4.000000,2.310200e+04,2.767300e+04,2.272500e+02,4.454310e+02,3.478150e+02
50%,118.000000,6.675000e+02,16.000000,2.414860e+05,2.337310e+05,2.628000e+03,5.797805e+03,2.226216e+03
75%,177.000000,8.080250e+03,67.500000,2.152155e+06,1.581936e+06,1.821450e+04,2.210284e+04,1.346373e+04
max,236.000000,2.212340e+07,34794.000000,6.756198e+08,7.047539e+08,7.010681e+06,1.448471e+06,1.186852e+06

In [ ]:
df_clean = df.copy()

numeric_cols = df_clean.select_dtypes(include=np.number).columns

for col in numeric_cols:
    df_clean[col] = df_clean[col].fillna(df_clean[col].mean())

df_clean.isna().sum()

In [ ]:
Q1 = df_clean[numeric_cols].quantile(0.25)
Q3 = df_clean[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df_no_outliers = df_clean[~((df_clean[numeric_cols] < lower) |
                             (df_clean[numeric_cols] > upper)).any(axis=1)]

print("Original shape:", df_clean.shape)
print("After removing outliers:", df_no_outliers.shape)

In [ ]:
scaler_minmax = MinMaxScaler()

df_minmax = df_no_outliers.copy()
df_minmax[numeric_cols] = scaler_minmax.fit_transform(df_minmax[numeric_cols])

df_minmax.head()

In [ ]:
scaler_standard = StandardScaler()

df_zscore = df_no_outliers.copy()
df_zscore[numeric_cols] = scaler_standard.fit_transform(df_zscore[numeric_cols])

df_zscore.head()

In [ ]:
X = df_zscore[numeric_cols]

pca = PCA()
principal_components = pca.fit_transform(X)

print("Explained Variance Ratio:")
print(pca.explained_variance_ratio_)

In [9]:
plt.figure(figsize=(6,4))
plt.scatter(principal_components[:,0], principal_components[:,1])
plt.xlabel("PC1")
plt.ylabel("PC2")
plt.title("PCA Projection")
plt.show()

NameError: name 'principal_components' is not defined